<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @man.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @man.phone %>
</p>


<%= link_to 'Edit', edit_man_path(@man) %> |
<%= link_to 'Back', men_path %>
